apiVersion: apps/v1
kind: Deployment
metadata:
  name: temporal-manager-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: temporal-manager-app
  template:
    metadata:
      labels:
        app: temporal-manager-app
    spec:
      containers:
        - name: temporal-manager-app
          image: ghcr.io/amarouane-abdelhak/temporalio-manager:1.0.4
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          env:
            - name: TASK_QUEUE
              value: "fibonnacci-queue"
            - name: TEMPORAL_SERVER_URL
              value: "temporal-frontend.temporal:7233"
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "1000m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /jobs/v1/health    # Add a health endpoint
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /jobs/v1/health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: temporal-manager-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: temporal-manager-app
  minReplicas: 2
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
