config:
  target: "{{ $processEnvironment.TARGET_HOST }}"
  strictSSL: false
  tls:
    rejectUnauthorized: false
  phases:
    - name: Warm up
      duration: 120
      arrivalRate: 5

    - name: Traffic spike
      duration: 120
      arrivalRate: 50
      rampTo: 100

    - name: Sustain heavy load
      duration: 300   # 5 minutes
      arrivalRate: 100

    # - name: Sudden spike
    #   duration: 60
    #   arrivalRate: 100

    # - name: Back to heavy
    #   duration: 600
    #   arrivalRate: 200

  payload:
    path: "payload.csv"
    order: sequence
    skipHeader: true
    delimiter: ","
    fields:
      - "n"
      - "times"

scenarios:
- name: "calculate fib Models"
  flow:
  - post:
      url: "{{ $processEnvironment.TARGET_PATH }}"
      headers:
        accept: "application/json"
        Content-Type: "application/json"
      json:
        n: "{{ n }}"
        times: "{{ times }}"
